<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apteka</title>
</head>
<body>
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        <table class="table table-hover">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>prescription</th>
    </tr>
    {% for drug in drugs %}
    <tr>
        <td>{{drug.iddrug}}</td>
        <td>{{drug.name}}</td>
        <td>{{drug.description}}</td>
        {% if drug.prescription == 1 %}
        <td>По рецепту врача</td>
        {% else %}
        <td>Без рецепта врача</td>
        {% endif %}
    </tr>
    {% endfor %}
        </table>
    </form>
{% endblock %}
Wellcome to apteka!
</body></html>