{% extends "base.html" %}

{% block form %}
<form action="" method="post" name="find">
    <div class="change">
    {{form.hidden_tag()}}
    <p>
        Name:<br>
        {{ form.name }}<br>
        {% for error in form.errors.name %}
            <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Description:<br>
        {{ form.description }}<br>
        {% for error in form.errors.description %}
            <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
        {% if chtype == 'drug' %}
    <p>
        Prescription:<br>
        {{ form.prescription }}<br>
        {% for error in form.errors.prescription %}
            <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
        {% endif %}
        {% if chtype == 'sickness' %}
        <p>
            Severity:<br>
            {{ form.severity }}<br>
            {% for error in form.errors.severity %}
                <span class="error">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        {% endif %}
    <p><input type="submit" class="" value="Delete"></p>
    </div>
</form>
{% endblock %}